.blog {
  h3 {
    color: #ffd8a5;
  }
  .blog-article {
    padding-bottom: 20px;
    &.album {
      .cover-wrapper {
        width: 300px;
        margin: auto;
        text-align: center;
      }

      strong {
        margin-right: 1ch;
      }
    }
  }
}
