@import "./variables.css.scss";

#profil_picture {
  display: block;
  position: absolute;
  max-width: 150px;
  max-height: 150px;
  top: 15px;
  right: -115px;
  z-index: 10;

  border: 0 none;
  border-radius: 50%;
  padding: 0;
  margin: 15px 5px;
}