@import "variables.css.scss";

.words-count {
  position: absolute;
  top: 50px;
  right: 12px;
}

.articles .words-count {
  position: static;
  float: right;
  margin-top: 9px;
  color: #c7c7c7;
  font-size: 16px;
}