@import "variables.css.scss";

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: $top-space 20px 10px 20px;
  margin: 0 auto;
}

#header_wrap {
  header {
    text-align: center;
    position: relative;
    padding: 50px 10px 30px 10px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 20px;
    }

    .separator {
      position: absolute;
      bottom: 86px;

      &.left {
        left: 0;
        right: 50%;
        transform: translate(-71px, 0);
        border-top: 1px solid $color;
      }

      &.middle {
        left: 50%;
        transform: translate(-50%, 0);
        border: 1px solid $color;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        bottom: 15px;
        clip: rect(71px, 142px, 142px, 0);
        visibility: hidden;
      }

      &.right {
        left: 50%;
        right: 0;
        transform: translate(71px, 0);
        border-top: 1px solid $color;
      }
    }
  }

  #project_title {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
  }

  .album-cover {
    max-width: 250px;
  }

  #project_tagline {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    background: none;
  }
}

#main_content_wrap {
  #main_content {
    padding-top: 0;
  }
}

#footer_wrap {
  text-align: center;
}

.separated-title {
  position: relative;
  z-index: 10000;

  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  margin: 50px 0;
  text-align: center;

  .separator {
    position: absolute;
    top: 38px;
    border-top: 1px solid $color;

    &.left {
      left: 0;
      right: 75%;
    }
    &.right {
      right: 0;
      left: 75%;
    }
  }
}

.album {
  .section {
    margin-top: 2ch;
  }
}
