/***********
   Gallery   
************/

.gallery {
  width: 100%;
}

.gallery .gallery-container {
  margin: auto;
  width: 80%;
  text-align: center;
}

.gallery .gallery-container a {
  display: inline-block;
  width: 200px;
  margin: 10px
}

.gallery .gallery-container a img.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin: auto;
  padding: 0;
}

img.lb-image {
  padding: 0;
  margin: 0;
}

.popup-link:focus {
  outline: none;
}

.popup-link figure {
  width: 300px;
  text-align: center;
  margin: auto;
}

.popup-link figure img {
  border: 0 none;
  box-shadow: none;
  margin-bottom: 0;
}

.popup-link figure figcaption {
  margin-top: -8px;
  font-size: 14px;
}

.popup-link {
  transition: none;
  color: #c7c7c7;
}

#main_content a.popup-link:hover {
  color: #c7c7c7;
  text-shadow: none;
}

.articles .blog-article {
  list-style: none;
}

.articles .blog-article h3 {
  border-bottom: 1px solid white;
}

.articles .blog-article .post-date {
  float: right;
  margin-top: -8px;
}

.articles .blog-article .post-excerpt p:last-child {
  margin-bottom: 0;
}

.articles .blog-article .more {
  text-align: right;
}