table.pros-n-cons {
  margin: auto;
  border: none;
}

table.pros-n-cons td {
  border: none;
}

table.pros-n-cons thead {
  font-weight: bold;
  font-size: 2em;
}

table.pros-n-cons tbody td {
  padding-left: 40px;
}

table.pros-n-cons tbody td:nth-child(1):not(:empty):before {
  // Font Awesome
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: '\f00c';
  color: #587647; /* green */
  margin-right: 4px;
}

table.pros-n-cons tbody td:nth-child(2):not(:empty):before {
  // Font Awesome
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: '\f00d';
  color: #fc5555; /* red */
  margin-right: 4px;

}