@media (max-width: 720px) {
  h2 {
    margin: 0;
    text-align: center;
    padding: 40px 0;
  }
  h3 {
    margin: 0;
    text-align: center;
    padding: 0 0 15px 0;
  }
  h4 {
    margin: 0;
    text-align: center;
    padding: 0 0 15px 0;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
    font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }
}