@import "./variables.css.scss";
@import "./mixins.css.scss";

#resume-banner {
  position: relative;
  text-align: center;
  height: 40px;
  margin-top: -10px;

  background-color: $banner-background;

  .content {
    line-height: 40px;
  }

  .close {
    position: absolute;
    right: 20px;
    font-size: 30px;
    line-height: 30px;
    top: 5px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}

.splash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $banner-background;
  z-index: 1000;

  .content {
    margin: 50px 0 0 0;
    padding: 0 10px;
    text-align: center;

    a {
      cursor: pointer;
    }
  }
}

.resume {
  img {
    max-width: 739px;
  }

  .skill-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px
  }

  .play-button {
    cursor: pointer;
  }

  #main_content {
    max-width: 780px;
  }

  .quote-container {
    margin: 40px 0 0 0;

    &:before {
      content: '\f10d';
      font-family: FontAwesome, serif;
      font-size: 30px;
      float: left;
      margin-right: 20px;
    }

    .quote {
      margin-bottom: 16px;
      text-align: left;
      font-size: 30px;
    }

    .author {
      text-align: right;
      font-size: 20px;
      margin-right: 30px;

      &:before {
        content: '—';
        margin-right: 10px;
      }
    }
  }

  .important {
    font-weight: bold;
  }

  section {
    margin: 50px 0;

    > h3 {
      font-size: 48px;
      margin: 50px 0;
      text-align: center;
    }
  }

  #home-map {
    height: 250px;
  }

  .map {
    width: 256px;

    p {
      margin: 0;
      font-size: 10px;
      font-weight: lighter;
    }
  }

  .info-content {
    display: flex;
    align-items: center;
    padding: ($top-space/2) 0;

    .description {
      width: 344px;
      flex-grow: 1;
    }

    &.full {
      padding: 0 0 40px 0;

      .description {
        width: 100%;
        text-align: center;
      }
    }

    &.right {
      .description {
        text-align: left;
        float: right;
        padding-left: 40px;
      }
    }

    &.left {
      .description {
        text-align: right;
        padding-right: 40px;
      }
    }
  }

  .image {
    border-radius: 6px;
  }

  #skills {
    overflow: hidden;
    position: relative;
    margin-bottom: 200px;
    padding-bottom: 200px;

    #oop {
      position: absolute;
      left: 0;
    }
    #fp {
      position: absolute;
      left: 20%;
    }
    #web {
      position: absolute;
      left: 40%;
    }
    #agile {
      position: absolute;
      left: 60%;
    }
    #tools {
      position: absolute;
      left: 80%;
    }
  }

  #job .content {
    display: flex;
    margin-bottom: 40px;

    .item {
      padding: 0 0 0 18px;
      vertical-align: top;
      flex: 0 0 50%;

      &:nth-child(odd) {
        padding: 0 18px 0 0;
      }

      .title {
        font-size: 22px;
        margin-bottom: 8px;
        font-family: 'Raleway', sans-serif;
      }
    }
  }

  #more .content {
    display: flex;

    ul {
      margin: auto;
      padding: 0;

      li {
        list-style: none;
        font-size: 20px;
        margin-bottom: 10px;

        i {
          margin-right: 10px;
          width: 1.28571429em;
          text-align: center;
        }

        a {
          color: $color;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .spacer.s_viewport {
    margin-bottom: 200px;
  }

  .popup {
    font-size: 16px;
    overflow: hidden;

    .popup-title {
      height: 40px;
      background: red;
      line-height: 40px;
      font-size: 32px;
      text-align: center;

      //
      // OOP
      //

      $dark-color: #333;

      &.st {
        background: $palette1-1;
      }

      &.js {
        background: $palette1-2;
      }

      &.dp {
        background: $palette1-3;
        color: $dark-color;
      }

      //
      // FP
      //

      &.clojure {
        background: $palette2-1;
        color: $dark-color;
      }

      &.lisp {
        background: $palette2-2;
      }

      &.caml {
        background: $palette2-3;
      }

      //
      // Web
      //

      &.html {
        background: $palette3-1;
      }

      &.less-scss {
        background: $palette3-2;
        color: $dark-color;
      }

      &.svg {
        background: $palette3-3;
      }

      //
      // Agile
      //

      &.unit-tests {
        background: $palette4-1;
      }

      &.scrum {
        background: $palette4-2;
      }

      &.pomodoro {
        background: $palette4-3;
      }

      &.oneflow {
        background: $palette4-4;
      }

      //
      // Tools
      //

      &.remote {
        background: $palette5-1;
      }

      &.gtd {
        background: $palette5-2;
        color: $dark-color;
      }

      &.git {
        background: $palette5-3;
      }

      &.tasks {
        background: $palette5-4;
        color: $dark-color;
      }

      &.devops {
        background: $palette5-5
      }
    }

    .content-wrapper {
      position: relative;
      overflow: hidden;
      height: 300px;

      .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;

        section {
          margin: 0;

          li {
            list-style: square;
            margin-left: 1em;
            padding: 12px 0 12px 1em;
          }
        }
      }
    }

    section.slide {
      height: 280px;
      width: 260px;
      padding: 10px 20px;
      display: flex;
      background: $dark-background1;

      &:first-child {
        padding-top: 10px;
      }

      &:nth-child(even) {
        background: $dark-background2;
      }

      .slide-quote {
        text-align: center;
        margin: auto;

        .quote {
          font-size: 24px;
          margin-bottom: 16px;

          &:before {
            content: '\f10d';
            font-family: FontAwesome, serif;
            font-size: 0.5em;
            vertical-align: super;
            margin-right: 0.5em;
          }

          &:after {
            content: '\f10e';
            font-family: FontAwesome, serif;
            font-size: 0.5em;
            vertical-align: super;
            margin-left: 0.5em;
          }
        }

        .author {
          text-align: right;
          padding-right: 14px;
          font-size: 20px;

          .annotation {
            font-size: 16px;
          }
        }
      }

      &.reeves, &.sass {
        .slide-quote .quote {
          font-size: 36px;
        }
      }

      &.linders {
        .slide-quote .quote {
          font-size: 22px;
        }

        .annotation {
          font-size: 12px;
        }
      }

      &.allen {
        .slide-quote .quote {
          font-size: 22px;
        }

        .annotation {
          font-size: 16px;
        }
      }

      .icons {
        img {
          max-width: 64px;
          margin: 10px;
        }

        margin: 20px 0;
      }

      .slide-title {
        text-align: center;
        font-size: 24px;
      }

      ul {
        padding: 0;
        margin: auto;
      }
    }
  }

  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    visibility: hidden;

    font-size: 15px;
    background: transparent;
    color: #ddd;
    border: 0 none;
    padding: 0;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &:focus {
      outline: none;
    }
  }

  ul.floss, ul.hobbies {
    margin: 40px 0 0 0;
    padding: 0;

    li {
      display: flex;
      margin-bottom: 20px;

      .logo {
        img {
          width: 200px;
        }
      }

      .description {
        margin: auto auto auto 40px;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .logo {
          float: right;
        }

        .description {
          text-align: right;
          margin: auto 40px auto auto;
        }
      }
    }
  }
}

.code-container {
  span {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  padding: 10px 20px;
  margin: 0;
  background: #fdf6e3; // dark-solarized
  color: #586e75; // dark-solarized

  &.dark {
  }

  &.lisp {
    .paren {
      color: #268bd2;
      font-weight: bold;

      &.open {
        margin-right: -0.5em;
      }

      &.close {
        margin-left: -0.5em;
      }
    }

    .comment {
      color: #93a1a1;
    }
  }
}

.timeline-content {
  .timeline-title {
    .title {

    }
    .company {
      text-align: right;
      float: right;
      font-weight: lighter;
      font-size: 16px;
      margin-top: 5px;
      margin-left: 8px;
    }
  }

  .mission {
    font-size: 20px;
    margin: 20px 0;
  }

  .tasks-description {
    margin: 0;
    padding: 0;

    li {
      margin: 16px 0;
      .description {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 720px) {
  #job .content {
    display: block;

    .item {
      padding: 0;
    }
  }

  .resume {
    .info-content {
      display: block;

      .description, .map {
        display: block;
      }

      &.left, &.right, &.full {
        .description {
          text-align: center;
          width: 100%;
          padding-right: 0;
        }
      }

      .map {
        margin: 20px auto;
      }
    }
  }
}
