@import "./fonts/ubuntu/ubuntu.css";
@import "./fonts/raleway/raleway.css";
@import "./font-awesome.min.css";
@import "./reset.css.scss";
@import "./avatar.css.scss";
@import "./chrome.css.scss";
@import "./gallery.css.scss";
@import "./pros-n-cons.css.scss";
@import "./footer.css.scss";
@import "./blog.css.scss";
@import "./responsive.css.scss";
@import "./resume.css.scss";
@import "./thermometer.css.scss";
@import "./vertical-line.css.scss";

@import "./variables.css.scss";
@import "./mixins.css.scss";

body {
  background: $background-color url("./ep_naturalblack.png");
  color: $color;

  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color: $title-color;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  margin-left: -40px;
  padding: 40px 0;
}

h3 {
  font-size: 24px;
  padding: 2px 0;
  margin-left: -30px;
  margin-top: 0;
}

h4 {
  margin-left: -20px;
  padding: 0 0 15px 0;
  background: none;
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #ffd8a5;

  &:hover {
    text-decoration: underline;
    color: #ffc08c;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-bottom: 15px;
  padding-left: 20px;
}

ul li {
  list-style: square inside;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
}

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #373737;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

section {
  vertical-align: top;
  padding: ($top-space/2) 0;
}

.available {
  font-weight: bold;
}

.mCSB_inside > .mCSB_container {
  margin-left: 30px;
}

.clearfix {
  @include clearfix;
}

/***********
   Comment
************/

.comment {
  margin: 0 30px;
}
