@import "./mixins.css.scss";
@import "./variables.css.scss";

.details-arc, .details-line {
  fill: transparent;
  stroke-width: 4;
  stroke: red;

  //
  // OOP
  //

  &.st {
    stroke: $palette1-1;
  }

  &.js {
    stroke: $palette1-2;
  }

  &.dp {
    stroke: $palette1-3;
  }

  //
  // FP
  //

  &.clojure {
    stroke: $palette2-1;
  }

  &.lisp {
    stroke: $palette2-2;
  }

  &.caml {
    stroke: $palette2-3;
  }

  //
  // Web
  //

  &.html {
    stroke: $palette3-1;
  }

  &.less-scss {
    stroke: $palette3-2;
  }

  &.svg {
    stroke: $palette3-3;
  }

  //
  // Agile
  //

  &.unit-tests {
    stroke: $palette4-1;
  }

  &.scrum {
    stroke: $palette4-2;
  }

  &.pomodoro {
    stroke: $palette4-3;
  }

  &.oneflow {
    stroke: $palette4-4;
  }

  //
  // Tools
  //

  &.remote {
    stroke: $palette5-1;
  }

  &.gtd {
    stroke: $palette5-2;
  }

  &.git {
    stroke: $palette5-3;
  }

  &.tasks {
    stroke: $palette5-4;
  }

  &.devops {
    stroke: $palette5-5
  }
}

.slice-container {
  position: absolute;

  .slice {
    height: 140px;
    width: 140px;

    .bar {
      fill: transparent;
      stroke-width: 4;
      stroke: red;
    }
  }
}

.thermometer-wrapper {
  display: inline-block;

  &.active {
    z-index: 1;
  }

  .thermometer-content {
    position: relative;
  }

  .thermometer {
    position: relative;
    width: 140px;
    height: 140px;
    background-color: transparent;
    margin: auto;

    .percent {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 140px;
      font-size: 30px;
      display: block;
      white-space: nowrap;
    }

    .details {
      div.popup {
        opacity: 0;
        z-index: 1;

        &.active {
          z-index: 2;
        }
      }
    }
  }

  .title {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
  }
}