//
// Colors
//

$background-color: #0e131b;

$color: #e2f2fd;
$title-color: $color;

$dark-background1: #333;
$dark-background2: #222;

//
// Palettes
//

$palette1-1: #9B92B5;
$palette1-2: #534F74;
$palette1-3: #C0E0ED;
$palette1-4: #4F036E;
$palette1-5: #1E0547;

$palette2-1: #F7EFE2;
$palette2-2: #C14658;
$palette2-3: #538069;
$palette2-4: #504772;
$palette2-5: #170305;

$palette3-1: #0E688A;
$palette3-2: #CEDCE1;
$palette3-3: #35A9D4;
$palette3-4: #0D1619;
$palette3-5: #939DA0;

$palette4-1: #B43011;
$palette4-2: #4E573C;
$palette4-3: #3C4257;
$palette4-4: #D86C4A;
$palette4-5: #802307;

$palette5-1: #79AE3D;
$palette5-2: #C0C0C0;
$palette5-3: #367DA2;
$palette5-4: #FFC072;
$palette5-5: #FF7E79;

$banner-background: $palette3-1;

//
// Constants
//

$top-space: 40px;