@import "./variables.css.scss";

.timeline-container {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;

  .timeline-arrow {
    position: absolute;
    font-size: 52px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      font-family: FontAwesome, serif;
      content: '\f106';
    }

    @media only screen and (max-width: 1169px) {
      left: 4px;
      transform: translate(0, -50%);
    }
  }

  &:before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }

  .container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;

    &:after {
      /* clearfix */
      content: '';
      display: table;
      clear: both;
    }
  }

  @media only screen and (min-width: 1170px) {
    margin-top: 3em;
    margin-bottom: 3em;

    &:before {
      left: 50%;
      margin-left: -2px;
    }
  }

  .timeline-block {
    position: relative;
    margin: 2em 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .timeline-content {
      background: $dark-background1;

      &:before {
        border-left-color: $dark-background1;
        @media only screen and (max-width: 1169px) {
          border-left-color: transparent;
          border-right-color: $dark-background1;
        }
      }
    }

    &:nth-child(odd) {
      .timeline-content {
        background: $dark-background1;

        &:before {
          border-left-color: $dark-background1;
          @media only screen and (max-width: 1169px) {
            border-left-color: transparent;
            border-right-color: $dark-background1;
          }
        }
      }
    }

    @media only screen and (min-width: 1170px) {
      margin: 4em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 4px solid;
    border-radius: 50%;

    i {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-family: FontAwesome, serif;
      font-size: 30px;
      line-height: 60px;
      text-align: center;

      @media only screen and (max-width: 1169px) {
        font-size: 20px;
        line-height: 40px;
      }
    }

    &.job {
      background: #75ce66;

      i:before {
        content: '\f0b1';
      }
    }

    &.education {
      background: #ce9d46;

      i:before {
        content: '\f19d';
      }
    }

    &.project {
      background: #3093c0;

      i:before {
        content: '\f0c3';
      }
    }
  }

  @media only screen and (min-width: 1170px) {
    .timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -34px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
    }

    .timeline-img.is-hidden {
      visibility: hidden;
    }

    .timeline-img.bounce-in {
      visibility: visible;
      animation: bounce-1 0.6s;
    }
  }

  @-webkit-keyframes bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
    }
  }
  @-moz-keyframes bounce-1 {
    0% {
      opacity: 0;
      -moz-transform: scale(0.5);
    }

    60% {
      opacity: 1;
      -moz-transform: scale(1.2);
    }

    100% {
      -moz-transform: scale(1);
    }
  }
  @keyframes bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5);
    }

    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }

  .timeline-content {
    position: relative;
    margin-left: 60px;
    background: red;
    border-radius: 0.25em;
    padding: 1em;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    h2 {
      font-size: 20px;
      margin: 10px 0;
      padding: 0;
      color: $color;
    }

    p, .date {
      font-size: 13px;
    }

    p {
      margin: 1em 0;
      line-height: 1.6;
    }

    .date {
      float: left;
      padding: .8em 0;
      opacity: .7;
    }
    &:before {
      content: '';
      position: absolute;
      top: 16px;
      right: 100%;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-right: 7px solid white;
    }

    @media only screen and (min-width: 768px) {
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      .date {
        font-size: 14px;
      }
    }

    @media only screen and (min-width: 1170px) {
      margin-left: -4px;
      padding: 1.6em;
      width: 298px;

      &:before {
        top: 28px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
      }

      .date {
        position: absolute;
        width: 100%;
        left: 130%;
        top: 10px;
        font-size: 16px;
      }
    }
  }

  @media only screen and (min-width: 1170px) {
    .timeline-block:nth-child(odd) .timeline-content {
      float: right;
      margin-right: -4px;

      &::before {
        top: 28px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: $dark-background1;
      }

      .read-more {
        float: right;
      }

      .date {
        left: auto;
        right: 130%;
        text-align: right;
      }
    }

    .timeline-content.is-hidden {
      visibility: hidden;
    }
    .timeline-content.bounce-in {
      visibility: visible;
      animation: bounce-2 0.6s;
    }
  }

  @media only screen and (min-width: 1170px) {
    /* inverse bounce effect on odd content blocks */
    .cssanimations .timeline-block:nth-child(odd) .timeline-content.bounce-in {
      -webkit-animation: bounce-2-inverse 0.6s;
      -moz-animation: bounce-2-inverse 0.6s;
      animation: bounce-2-inverse 0.6s;
    }
  }

  @-webkit-keyframes bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
    }

    100% {
      -webkit-transform: translateX(0);
    }
  }

  @-moz-keyframes bounce-2 {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100px);
    }

    60% {
      opacity: 1;
      -moz-transform: translateX(20px);
    }

    100% {
      -moz-transform: translateX(0);
    }
  }

  @keyframes bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px);
    }

    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @-webkit-keyframes bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
    }

    100% {
      -webkit-transform: translateX(0);
    }
  }

  @-moz-keyframes bounce-2-inverse {
    0% {
      opacity: 0;
      -moz-transform: translateX(100px);
    }

    60% {
      opacity: 1;
      -moz-transform: translateX(-20px);
    }

    100% {
      -moz-transform: translateX(0);
    }
  }

  @keyframes bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px);
    }

    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      -o-transform: translateX(-20px);
      transform: translateX(-20px);
    }

    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
  }
}